@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #F2F1F1;
}

header .container .logo img {
    width: 120px;

}

header .container .botoes {
    display: flex;
    justify-content: center;
}

header .container .botoes button {
    background-color: transparent;
    border: solid 2px #FF5722;
    cursor: pointer;
}

header .container .botoes button:hover {
    opacity: 80%;
}

header .container .botoes button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

header .container .botoes button:first-child {
    margin-right: 20px;
    border-radius: 40px;
    color: #FF5722;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto';
    padding: 10px 20px;
}

header .container .botoes button:first-child:active {
    background-color:#FF5722;
    color: #FFFFFF;
}

header .container .botoes button:last-child {
    border-radius: 50%;
    padding: 10px 15px;
}

header .container .botoes button img {
    width: 20px;
}

.parte-principal {
    background-image: url('../img/bg.jpeg');
    overflow: hidden;
    background-repeat: repeat;
    padding: 100px 0 100px;
}

.parte-principal .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.parte-principal .container .frase-principal h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

.parte-principal .container .barra-de-pesquisa {
    display: flex;
}

.parte-principal .container input, select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
}



.produtos-por-categoria {
    padding: 50px 0 70px;
}

.produtos-por-categoria .container .botoes-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px;
}

.produtos-por-categoria .container .botoes-categoria button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #757575;
}

.produtos-por-categoria .container .botoes-categoria button:hover {
    color: #FF5722;
}

.produtos-por-categoria .container .botoes-categoria span {
    font-size: 25px;
    color: #757575;
}

.produtos-por-categoria .container .card-produto {
    cursor: pointer;
}

.produtos-por-categoria .container .card-produto .thumb {
    width: 240px;
    height: 150px;
    background-color: #c4c4c4;
}

.produtos-por-categoria .container .lista-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info>div {
    display: flex;
    align-items: center;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info h3 {
    font-family: Roboto;
    color: #484848;
    margin-bottom: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info {
    color: #757575;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info img {
    width: 25px;
    height: 21px;
    margin-right: 2px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info small {
    font-family: Roboto;
    font-size: 15px;
    margin-right: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info .pontuacao {
    color: #484848;
}

.produtos-por-categoria .container .lista-produtos .card-produto .localiz {
    margin-top: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .localiz img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info .preco {
    font-family: Roboto;
    font-size: 20px;
    color: #FF5722;
}

.produtos-por-categoria .container .botao-ver-mais {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 30px;
}

.produtos-por-categoria .container .botao-ver-mais span {
    font-family: 'Roboto', sans-serif;
    color: #FF5722;
    font-size: 18px;
    font-weight: 900;

}

.produtos-por-categoria .container .botao-ver-mais img {
    margin-left: 5px;
    width: 10px;
}

.banner-anunciar {
    height: 402px;
    overflow: hidden;
    background: url('../img/guitar.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-anunciar .gradient {
    background-color: black;
    background: linear-gradient(90deg, rgba(0,0,0,0.8981967787114846) 0%, 
    rgba(0,0,0,0.7133228291316527) 35%, rgba(0,0,0,0.01584383753501406) 51%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-anunciar .container .frase-banner {
    width: 20px;
}

.banner-anunciar .container .frase-banner h2 {
    font-family: 'Abeezee', sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    text-align:left;
}
.banner-anunciar .container .botao-saiba-mais button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px;
    border-radius: 40px;
    border:none;
    cursor: pointer;
}

.banner-anunciar .container .botao-saiba-mais button:hover {
    opacity: 80%;
}

.banner-anunciar .container .botao-saiba-mais button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

footer {
    background-color: #484848;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .logo-e-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .logo img {
    width: 120px;
    margin-right: 30px;
}

footer .container .menu ul li {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

footer .container .menu ul li a {
    color: #FFFF;
    text-decoration: none;
}

footer .container .redes-sociais small {
    color: #FFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

footer .container .redes-sociais ul {
    list-style: none;
    display: flex;
    padding: 0;
}

footer .container .redes-sociais ul li img {
    width: 30px;
    margin: 0 10px 10px 0;
}

footer .copyright {
    color: #FFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}