@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #F2F1F1;
}

header .container .logo img {
    width: 120px;

}

header .container .botoes {
    display: flex;
    justify-content: center;
}

header .container .botoes button {
    background-color: transparent;
    border: solid 2px #FF5722;
    cursor: pointer;
}

header .container .botoes button:hover {
    opacity: 80%;
}

header .container .botoes button:active {
    transform: scale(0.99);
}

header .container .botoes button:first-child {
    margin-right: 20px;
    border-radius: 40px;
    color: #FF5722;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto';
    padding: 10px 20px;

}

header .container .botoes button:last-child {
    border-radius: 50%;
    padding: 10px 15px;
}

header .container .botoes button img {
    width: 20px;
}

.parte-principal {
    background-image: url('../img/img_background.png');
}

.parte-principal .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.parte-principal .container .frase-principal h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

.produtos-por-categoria .container .botoes-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px;
}

.produtos-por-categoria .container .botoes-categoria button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #757575;
}

.produtos-por-categoria .container .botoes-categoria button:hover {
    color: #FF5722;
}

.produtos-por-categoria .container .botoes-categoria span {
    font-size: 25px;
    color: #757575;
}

.produtos-por-categoria .container .card-produto .thumb {
    width: 240px;
    height: 150px;
    background-color: #c4c4c4;
}

.produtos-por-categoria .container .lista-produtos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info>div {
    display: flex;
    align-items: center;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info h3 {
    font-family: Roboto;
    color: #484848;
    margin-bottom: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info {
    color: #757575;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info img {
    width: 25px;
    height: 21px;
    margin-right: 2px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info small {
    font-family: Roboto;
    font-size: 15px;
    margin-right: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info .pontuacao {
    color: #484848;
}

.produtos-por-categoria .container .lista-produtos .card-produto .localiz {
    margin-top: 5px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .localiz img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
}

.produtos-por-categoria .container .lista-produtos .card-produto .info .preco {
    font-family: Roboto;
    font-size: 20px;
    color: #FF5722;
}

.produtos-por-categoria .container .botao-ver-mais {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}


.produtos-por-categoria .container .botao-ver-mais span {
    font-family: 'Roboto', sans-serif;
    color: #FF5722;
    font-size: 18px;
    font-weight: 900;

}

.produtos-por-categoria .container .botao-ver-mais img {
    width: 15px;
}



.banner-anunciar .banner img {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}